*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
}

.navbar >ul >li >a{
    text-decoration: none;
}